---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";

// Fetch all publications in the collection
import { getCollection } from "astro:content";
const team = await getCollection("team");

import TeamCard from "@/components/ui/TeamCard.astro";
import SectionBreakHR from "@/components/ui/SectionBreakHR.astro"

---

<BaseLayout SEOTitle="Team">
  <ShortHeader title="Meet our team" subtitle="" />
  <main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16">
      <div class="pb-8">

            <section class="">
              <!-- <h1 class = "text-6xl">Meet our team</h2> -->
                <p class = "prose text-2xl">
                  Bringing together diverse expertise and sharp economic insight, our team thrives on solving complex challenges. We work collaboratively with academics, policymakers, and industry leaders to deliver rigorous, actionable solutions tailored to real-world needs.
                </p>
              <div
                class="grid lg:grid-cols-2 grid-cols-1 gap-6 mt-12"
              >
                {
                  team
                    .sort((a, b) => {
                      const dateA = a.data.joinDate
                        ? new Date(a.data.joinDate).getTime()
                        : 0;
                      const dateB = b.data.joinDate
                        ? new Date(b.data.joinDate).getTime()
                        : 0;
                      return dateA - dateB;
                    })
                    .map((entry) => (
                      <TeamCard
                        name={entry.data.name}
                        role={entry.data.role}
                        photo={entry.data.photo}
                        phone={entry.data.phone}
                        email={entry.data.email}
                        linkedin={entry.data.linkedIn}
                        orcid={entry.data.orcid}
                        ssrn={entry.data.ssrn}
                        link={`team/${entry.slug}`}
                      />
                    ))
                }
              </div>
            </section>

      </div>
    </section>
  </main>
</BaseLayout>
