---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";

// Fetch all publications in the collection
import { getCollection } from "astro:content";
const articles = await getCollection("articles");

import PCard from "@/components/ui/PCard.astro";
---

<BaseLayout SEOTitle="Articles">
  <ShortHeader title="Articles" subtitle="Read all of our Articles" />
  <main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16">
      <div class="pb-8">
        <div class="post-wrapper">
          <h1>Articles</h1>

          {
            articles.map((entry) => (
              <article class="p-6">
                <p class="text-2xl font-bold pb-2">{entry.data.title}</p>
                <p class="text-md leading-snug">
                  Authors: <span class="text-gray-800">{Array.isArray(entry.data.authors) ? entry.data.authors.join(", ") : "Unknown Author"}</span>
                </p>
                <p class="text-md leading-snug pb-4">
                  Published on:{" "}
                  {entry.data.pubDate
  ? new Date(entry.data.pubDate).toLocaleDateString(undefined, {
      dateStyle: "medium",
      timeZone: "UTC",
    })
  : "Unknown Date"}
                </p>
                <p>{entry.data.description}</p>
              </article>
              // <hr>
            ))
          }
          
        <div class="grid gap-4 md:grid-cols-5 mx-auto">
          <aside class="bg-gray-100 p-4 md:col-span-1">Filters</aside>
          <section class="p-4 md:col-span-4">
            <div class="grid grid-cols-[repeat(auto-fill,minmax(288px,1fr))] gap-2 place-items-center">
              {
                articles.map((entry) => (
                  <PCard
                    title={entry.data.title}
                    imgSrc="/blog-placeholder-3.jpg"
                    imgAlt={entry.data.title}
                    category="Articles"
                    link={`/articles/${entry.slug}`}
                    date={new Date(entry.data.pubDate || "").toLocaleDateString(undefined, {
                      dateStyle: "medium",
                      timeZone: "UTC",
                    })}
                  />
                ))
              }
            </div>
          </section>
        </div>


        </div>
      </div>
    </section>
  </main>
</BaseLayout>
