---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import TeamCardDetails from "@/components/ui/TeamCardDetails.astro"

const { frontmatter } = Astro.props;
---
<BaseLayout SEOTitle="Publications">
  <Fragment slot="SEO">
    <meta name="title" content={frontmatter.name} />
  </Fragment>

  <main class="px-6 max-w-screen-2xl mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />

    <!-- Content Section: Flex layout for the main content and aside -->
    <div class="grid gap-8 grid-col-1 md:grid-cols-[1fr_3fr]">

      <!-- Aside with TeamCardDetails -->
      <aside class="order-2 md:order-1 md:col-span-1">
        <TeamCardDetails
          photo={frontmatter.photo}
          alt={frontmatter.alt}
          location={frontmatter.location}
          email={frontmatter.email}
          qualification={frontmatter.qualification}
        />
      </aside>

      <!-- Main content -->
      <div class="order-1 md:order-2 w-full">
        <main>
          <div class="pt-16"></div>
          <h1 class="text-6xl font-medium pb-4">{frontmatter.name}</h1>
          <h2 class="text-4xl font-medium pb-6">{frontmatter.role}</h2>
          <section class="prose max-w-none prose-lg prose-headings:-mt-4">
            <slot />
          </section>
        </main>
      </div>

    </div>
  </main>
</BaseLayout>