---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";

// Fetch all publications in the collection
import { getCollection } from "astro:content";
const publications = await getCollection("publications");

import PCardSmall from "@/components/ui/PCardSmall.astro";
---

<BaseLayout SEOTitle="Publications">
  <ShortHeader title="Publications" subtitle="Read all of our publications" />
  <main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16">
      <div class="pb-8">
        <div class="post-wrapper">
          <h1>Publications</h1>

          {
            publications.map((entry) => (
              <article class="p-6">
                <p class="text-2xl font-bold pb-2">{entry.data.title}</p>
                <p class="text-md leading-snug">
                  Authors: {entry.data.authors.join(", ")}
                </p>
                <p class="text-md leading-snug pb-4">
                  Published on:{" "}
                  {entry.data.pubDate.toLocaleDateString(undefined, {
                    dateStyle: "medium",
                    timeZone: "UTC",
                  })}
                </p>
                <p>{entry.data.description}</p>
              </article>
              // <hr>
            ))
          }
        <div class="grid gap-4 md:grid-cols-5 mx-auto">
          <aside class="bg-gray-100 p-4 md:col-span-1">Filters</aside>
          <section class="p-4 md:col-span-4">
            <div class="grid grid-cols-[repeat(auto-fill,minmax(288px,1fr))] gap-2 place-items-center">
              {
                publications.map((entry) => (
                  
                  <PCardSmall
                    title={entry.data.title}
                    imgSrc="/blog-placeholder-3.jpg"
                    imgAlt={entry.data.title}
                    category="Publication"
                    link={`/publications/${entry.slug}`}
                    date={entry.data.pubDate.toLocaleDateString(undefined, {
                      dateStyle: "medium",
                      timeZone: "UTC",
                    })}
                  />
                ))
              }
            </div>
          </section>
        </div>


        </div>
      </div>
    </section>
  </main>
</BaseLayout>
