---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import PCard from "@/components/ui/PCard.astro";
import { getCollection } from "astro:content";
import Lighthouse from "@/images/lighthouse.png"
import ShortHeader from "@/components/ui/ShortHeader.astro";


// Fetch and process data
const publications = await getCollection("publications");
const team = await getCollection("team");

// Sort publications
const sortedPublications = [...publications]
.filter((item) => item?.data?.pubDate)
  .sort((a, b) => {
  const dateA = new Date(a.data.pubDate || 0).getTime();
  const dateB = new Date(b.data.pubDate || 0).getTime();
  return dateB - dateA;
});

const teamMap = new Map(
  team.map((member) => [member.data.name.toLowerCase(), member.slug])
);
// Create team member lookup map
const teamMemberMap = Object.fromEntries(
  team.map((member) => [member.data.name.toLowerCase(), member.slug])
);
---

<BaseLayout SEOTitle="Publications">
  <Fragment slot="SEO">
    <meta property="type" content="website"/>
    <meta property="og:title" content="Publications | Principal Economics" />
    <meta
      property="og:url"
      content={`https://principaleconomics.co.nz${Astro.url.pathname}`}
    />
    <meta
      property="og:description"
      content="Read our research papers, reports, and whitepapers."
      />
    <meta 
      name="twitter:title" 
      content= "Publications | Principal Economics"
      />
    <meta
      name="twitter:description"
      content="Read our research papers, reports, and whitepapers."
      />
    <link rel="canonical" href={`https://principaleconomics.co.nz${Astro.url.pathname}`} />    
  </Fragment>
  <ShortHeader title="Publications" subtitle="Research papers, reports, and whitepapers" />
  <main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="">
      <div class="max-w-screen-xl prose">
        <h3 class="text-5xl pt-10">About our publications</h1>
        <p class="text-xl mb-8">
          At Principal Economics we produce high-quality research, reports, and
          whitepapers that provide data-driven insights into economic trends,
          policy developments, and industry challenges. We apply rigorous
          analysis and collaborate with experts to deliver research that informs
          decision-making and drives meaningful impact. By making our
          publications accessible, we aim to support better strategies,
          policies, and business outcomes in an ever-evolving economic
          landscape.
        </p>
      </div>

      <div class="max-w-screen-xl">
        {
          sortedPublications.map((entry, index) => (
          <hr class="my-8 border-t border-gray-200" />

            <article
              class="group m-6 hover:bg-gray-50/50 transition-colors rounded-xl"
              id={`publication-${index}`}
            >
              <div class="flex flex-col md:flex-row gap-4 md:gap-6 items-center">
                {/* Content */}
                <div class="w-full md:w-1/2 lg:w-[60%] xl:w-[75%] space-y-3">
                  <div class="space-y-3">
                    <a
                      href={`/publications/${entry.slug}`}
                      class="text-3xl font-bold text-gray-900 hover:text-blue-600 transition-colors"
                    >
                      {entry.data.title}
                    </a>

                    <div class="flex flex-wrap gap-2 text-sm font-medium">
                      <span class="px-2 py-1 bg-blue-100 text-blue-800 rounded-full">
                        Publication
                      </span>
                      <span class="px-2 py-1 bg-gray-100 text-gray-600 rounded-full">
                        {entry.data.pubDate?.toLocaleDateString(undefined, {  year: "numeric",  month: "long",  timeZone: "UTC",}) || "Unknown Date"}
                      </span>
                    </div>

                    <p class="text-gray-600 font-medium">
                      Authors:{" "}
                      {entry.data.authors?.map((author, authorIndex) => {
                        const normalizedName = author.trim().toLowerCase();
                        const isTeamMember = teamMap.has(normalizedName);
                        const isLast =
                          authorIndex === entry.data.authors.length - 1;

                        return (
                          <span>
                            {isTeamMember ? (
                              <a
                                href={`/team/${teamMap.get(normalizedName)}`}
                                class="text-blue-600 hover:underline"
                              >
                                {author}
                              </a>
                            ) : (
                              <span class="text-gray-700">{author}</span>
                            )}
                            {!isLast && ", "}
                          </span>
                        );
                      }) ?? <span>No authors listed</span>}
                    </p>
                  </div>

                  <p class="text-xl text-gray-700 leading-relaxed line-clamp-5">
                    {entry.body}
                  </p>

                  <a
                    href={`/publications/${entry.slug}`}
                    class="inline-flex items-center text-blue-600 hover:text-blue-800 font-medium transition-colors"
                  >
                    Read more
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 ml-1"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </div>
                {/* Image Card */}
                <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] pl-10 hidden md:block lg:block xl:block ">
                  <PCard
                    title={entry.data.title}
                    date={entry.data.pubDate?.toLocaleDateString(undefined, {  year: "numeric",  month: "long",  timeZone: "UTC",}) || "Unknown Date"}
                    category="Publication"
                    imgSrc={entry.data.cardImage || Lighthouse }
                    imgAlt={entry.data.title}
                    link={`/publications/${entry.slug}`}
                    class="h-full"
                  />
                </div>
              </div>

              {/* {index < sortedPublications.length - 1 && (
                <hr class="my-8 border-t border-gray-200" />
              )} */}
            </article>
          ))
        }
      </div>
    </section>
    <br />
  </main>
</BaseLayout>
