---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
const { frontmatter } = Astro.props;

import { getCollection } from "astro:content";
const team = await getCollection("team");

const authors = Array.isArray(frontmatter.authors) ? frontmatter.authors : [];
const teamMemberMap = Object.fromEntries(
  team.map((member) => [member.data.name.toLowerCase(), member.slug])
);

const teamNames = team.map((member) => member.data.name);
const matchedAuthors = authors.filter((author: string) =>
  teamNames.includes(author)
);

const pubDate = new Date(frontmatter.pubDate); // Convert to Date object
const formattedDate = pubDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
});

const formattedPubDate = `${pubDate.getFullYear()}/${(pubDate.getMonth()+1)
  .toString()
  .padStart(2, '0')}/${pubDate.getDate().toString().padStart(2, '0')}`;
---

<BaseLayout SEOTitle="Publications">
  <Fragment slot="SEO">
    <meta property="type" content="website"/>
    <meta property="og:title" content={`${frontmatter.title} | Resources | Principal Economics`} />
    <meta
      property="og:url"
      content={`https://principaleconomics.co.nz${Astro.url.pathname}`}
    />
    <meta
      property="og:description"
      content={`Explore our resource: ${frontmatter.name} | Principal Economics.`}
      />
    <meta 
      name="twitter:title" 
      content={`${frontmatter.title} | Resources | Principal Economics`}
      />
    <meta
      name="twitter:description"
      content={`Explore our resource: ${frontmatter.name} | Principal Economics.`}
    />
    <link rel="canonical" href={`https://principaleconomics.co.nz${Astro.url.pathname}`} />
    <meta name="citation_title" content={frontmatter.title} />
    <meta name="citation_publication_date" content={formattedPubDate} />
    
  </Fragment>
  <ShortHeader title={frontmatter.title} subtitle={frontmatter.tagline}>
    <p class="text-2xl text-white font-bold pt-2">{formattedPubDate}</p>
  </ShortHeader>
  <main>
    <div>
      <div class="flex-grow">
        <slot />
        {
          frontmatter.iframe ? (
            <iframe
              src={frontmatter.iframe}
              class="gh-fit gh-fullwidth"
              style="width: 100%; height: 90vh; border: none;"
            />
          ) : null
        }
      </div>
    </div>
  </main>
</BaseLayout>
