---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import TeamCardDetails from "@/components/ui/TeamCardDetails.astro"

const { frontmatter } = Astro.props;
---

<BaseLayout SEOTitle="Publications">
	<Fragment slot="SEO">
		<!-- <meta name="citation_title" content={frontmatter.title}/>
		<meta name="citation_author" content={frontmatter.authors}/>
		<meta name="citation_publication" content={frontmatter.PubDate}/>
		<meta name="citation_pdf_url" content={frontmatter.downloadPdf} /> -->
	</Fragment>
	<!-- <ShortHeader title={frontmatter.name} subtitle={frontmatter.role}/> -->
	<main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
		<br />
		<BreadCrumbsDefault />
		<br />
		<div class="flex flex-row-2 gap-10">

			<div class="pt-12 col-span-3">
				<TeamCardDetails
				photo         = {frontmatter.photo}
				alt           = {frontmatter.alt}
				location      = {frontmatter.location}
				email         = {frontmatter.email}
				qualification = {frontmatter.qualification}
				/>
			</div>

			<div class="col-span-6">
				<main>
					<div class="pt-16"></div>
					<section class="prose max-w-none prose-lg prose-headings:-mt-4">
						<div>
							<h1 class="">{frontmatter.name}</h1>
							<h2>{frontmatter.role}</h2>
						</div>
						<slot />
					</section>
				</main>
			</div>

			<!-- <aside class="col-span-3">
				<div class="prose bg-gray-100 shadow-md">
					<div class="flex flex-col gap-4 p-6 prose">
						<h3 class="text-balance font-bold text-neutral-900" 
						aria-describedby="TeamMember">Team members</h3>
						<ul id="TeamMember">
							<li>{frontmatter.name}</li>
							<li>{frontmatter.photo}</li>
							<li>{frontmatter.shortName}</li>
							<li>{frontmatter.role}</li>
							<li>{frontmatter.location}</li>
							<li>{frontmatter.phone}</li>
							<li>{frontmatter.email}</li>
							<li>{frontmatter.qualification}</li>
							<li>{frontmatter.linkedIn}</li>
						</ul>
				</div>
				</div>
			</aside> -->
		</div>
	</main>
</BaseLayout>
