---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout SEOTitle="Publications">
	<Fragment slot="SEO">
		<!-- <meta name="citation_title" content={frontmatter.title}/>
		<meta name="citation_author" content={frontmatter.authors}/>
		<meta name="citation_publication" content={frontmatter.PubDate}/>
		<meta name="citation_pdf_url" content={frontmatter.downloadPdf} /> -->
	</Fragment>
	<ShortHeader title={frontmatter.name} subtitle={frontmatter.role}/>
	<main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
		<br />
		<BreadCrumbsDefault />
		<br />
		<div class="grid grid-cols-12 gap-16">
			<aside class="col-span-2 pt-16"></aside>
			<div class="col-span-7">
				<main>
					<section class="prose max-w-none prose-lg pb-0 pt-2">
						<div class="">
							<h1 class="citation_author">{frontmatter.name}</h3>
						</div>
						<slot />
					</section>
				</main>
			</div>
			<aside class="col-span-3">
				<div class="prose bg-gray-100 shadow-md">
					<div class="flex flex-col gap-4 p-6 prose">
						<h3 class="text-balance font-bold text-neutral-900" 
						aria-describedby="TeamMember">Team members</h3>
						<ul id="TeamMember">
							<li>{frontmatter.name}</li>
							<li>{frontmatter.photo}</li>
							<li>{frontmatter.shortName}</li>
							<li>{frontmatter.role}</li>
							<li>{frontmatter.location}</li>
							<li>{frontmatter.phone}</li>
							<li>{frontmatter.email}</li>
							<li>{frontmatter.qualification}</li>
							<li>{frontmatter.linkedIn}</li>
						</ul>
				</div>
				</div>
			</aside>
		</div>
	</main>
</BaseLayout>
