---
export const partial = true;
import { Icon } from "astro-icon/components";
import NavCard from "@/components/ui/NavCard.astro";

import { getCollection } from "astro:content";

const publications = (await getCollection("publications")).slice(0, 2);
const articles = (await getCollection("articles")).slice(0, 2);
const resources = (await getCollection("resources")).slice(0, 2);

// Sort each collection by the date field (without mutating the original arrays)
const sortedPublications = [...publications].sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA; // Sort in descending order (most recent first)
});

const sortedArticles = [...articles].sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
});

const sortedResources = [...resources].sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
});

import windmill from '@/images/windmill.jpg';
---

<div class="w-full bg-white px-7">
  <div class="grid grid-cols-12 gap-0 max-w-screen-2xl mx-auto">
    <!-- Sidebar / Industries Section -->
    <div class="col-span-12 lg:col-span-2 bg-white p-6 max-w-screen-2xl">
      <div class="text-bold text-3xl">
        Insights
        <a href="/capabilities">
          <div
            class="group font-semibold text-base hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none flex place-items-center pt-1 gap-2 text-blue-600"
          >
            See more details
            <Icon
              name="carbon:arrow-right"
              class="size-6 to-blue-600 group-hover:translate-x-2 transition-transform duration-200 flex flex-shrink"
            />
          </div>
        </a>
      </div>
    </div>

    <!-- 3x3 Grid of capabilities Items -->
    <div class="col-span-12 lg:col-span-10 bg-white p-4">
      <!-- UL is the 3x3 grid with 3 items -->
      <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Static capability items -->
        <li class="text-gray-800">
          <div
            class="h-[80px] bg-white text-gray-900 text-left py-1 block text-md w-full"
            
          >
          <a href="/publications" class="group-hover:text-blue-600 group-hover:underline">
            <div class="h-full flex flex-col justify-center hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none ">
              <span class="leading-8 text-2xl font-serif hover:text-blue-600">
                Publications</span>
              <span class="text-md text-gray-500 hover:text-blue-600"
                >Research papers, reports, and whitepapers
              </span>
            </div>
          </a>
          </div>

          <hr class="my-2 w-11/12 items-start h-0.5 bg-zinc-200 border-0">
          <div class ="flex flex-col">
          <div class="flex bg-slate-50 overflow-hidden w-full h-[100px] py-2">
            <!-- Image Section (160x100) -->
            <div class="w-[160px] h-[100px] bg-gray-300"></div>

            <!-- Story Body Section -->
            <div class="flex flex-col justify-center p-2 w-full">
              <!-- Tagline -->
              <div class="text-xs text-gray-500 mb-1">
                <p>Jan 2024</p>
              </div>

              <!-- Title/Link -->
              <div class="text-sm font-semibold text-blue-600">
                Migration to OECD countries hits new record
              </div>
            </div>
          </div>

          <div class="flex bg-slate-50 overflow-hidden w-[400px] h-[100px]">
            <!-- Image Section (160x100) -->
            <div class="w-[160px] h-[100px] bg-gray-300"></div>

            <!-- Story Body Section -->
            <div class="flex flex-col justify-center p-2 w-full">
              <!-- Tagline -->
              <div class="text-xs text-gray-500 mb-1">
                <p>Press release</p>
              </div>

              <!-- Title/Link -->
              <div class="text-sm font-semibold text-blue-600">
                Migration to OECD countries hits new record
              </div>
            </div>
          </div>

          <div class="flex bg-slate-50 overflow-hidden w-[400px] h-[100px]">
            <!-- Image Section (160x100) -->
            <div class="w-[160px] h-[100px] bg-gray-300"></div>

            <!-- Story Body Section -->
            <div class="flex flex-col justify-center p-2 w-full">
              <!-- Tagline -->
              <div class="text-xs text-gray-500 mb-1">
                <p>Press release</p>
              </div>

              <!-- Title/Link -->
              <div class="text-sm font-semibold text-blue-600">
                Migration to OECD countries hits new record
              </div>
            </div>
          </div>

          <a href="/publications">
            <div
              class="group font-semibold text-sm hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none flex place-items-center pt-1 gap-2 text-blue-600"
            >
            Read our latest publications
              <Icon
                name="carbon:arrow-right"
                class="size-5 to-blue-600 group-hover:translate-x-2 transition-transform duration-200 flex flex-shrink"
              />
            </div>
          </a>
        </div>
        </li>

        <li class="text-gray-800">
          <div
            class="h-[80px] bg-white text-gray-900 text-left block text-md w-full"
            
          >
          <a href="/publications" class="group-hover:text-blue-600 group-hover:underline">
            <div class="h-full flex flex-col justify-center hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none ">
              <span class="leading-8 text-2xl font-serif hover:text-blue-600">
                Publications</span>
              <span class="text-md text-gray-500 hover:text-blue-600"
                >Research papers, reports, and whitepapers
              </span>
            </div>
          </a>
          </div>

          <hr class="my-2 w-11/12 items-start h-0.5 bg-zinc-200 border-0 ">

          <div class ="flex flex-col gap-3 pt-2">
            <!-- {sortedPublications.map(item => ( 
              <NavCard 
                title={item.title}
                date={item.pubDate} 
                imgSrc={item.image} || "/images/windmill.jpg"} 
                imgAlt={item.title} 
                link={item.href} 
                />
            ))} -->

            <NavCard 
            title="test"
            date="test"
            imgSrc={windmill}
            imgAlt="test"
            link="#" />

            
            <NavCard 
            title="test"
            date="test"
            imgSrc={windmill}
            imgAlt="test"
            link="#" />


          </div>

          <div class="py-2 text-blue-600 font-semibold px-2">
            Read our latest articles
          </div>

        </li>

        <li class="text-gray-800">
          <a
            class="h-[80px] pl-2 bg-white text-gray-600 text-left py-1 border-l-2 border-gray-300 block text-md w-full hover:border-blue-500 hover:text-blue-700 hover:border-l-4 hover:bg-gray-100 hover:shadow-sm focus:border-l-4 focus:border-blue-500 focus:text-blue-700 focus:bg-gray-100"
            href="/capabilities/resources"
          >
            <div class="h-full flex flex-col justify-center pl-2">
              <span class="font-semibold leading-8 text-lg">Resources</span>
              <span class="text-sm text-gray-500"
                >Case studies, templates, and tools</span
              >
            </div>
          </a>
          <!-- Add the CTA below the resources item -->
          <div class="pt-2 text-blue-600 font-semibold">
            Explore our latest resource
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
