---
const { photo, name, role, link, linkedin, ssrn, orcid, email, phone} =
  Astro.props;
import { Icon } from "astro-icon/components";
import { Picture } from 'astro:assets';

---

  <div class="flex items-center gap-4 overflow-hidden w-full border-zinc-100 border-2 rounded-lg">
  
    <div class="h-full w-[200px]">
      <a href={link}><Picture
        src={photo}
        alt={name || "No name provided"}
        width={280}
        height={280}
        class="w-full h-full object-cover object-top bg-[#2e3034] pt-2"
      /></a>
    </div>

    <div class="p-4 max-w-[500px] flex flex-col gap-2 w-full">
      <a href={link} class="transition-all duration-400 ease-in-out group hover:underline hover:underline-offset-4">
        <h4 class="font-serif text-gray-800 text-2xl sm:text-4xl transition-colors group-hover:text-blue-600 duration-500">{name}</h4>
        <h5 class="font-sans text-gray-500 text-xl sm:text-2xl mt-1 transition-colors group-hover:text-blue-600  duration-500">{role}</h5>
      </a>
    
      <div class="mt-6 inline-flex justify-start items-center transition-colors group-hover:text-blue-600 duration-500">
        {phone && (
          <a href={`tel:${phone}`} target="_blank" rel="noopener noreferrer" class="flex-shrink-0 pr-1">
            <Icon name="carbon:phone" size={32} class="block p-0 text-gray-700 transition hover:opacity-75" />
          </a>
          )}
        {email && (
          <a href={`mailto:${email}`} target="_blank" rel="noopener noreferrer" class="flex-shrink-0 pr-1">
            <Icon name="carbon:email" size={33} class="block p-0 text-gray-700 transition hover:opacity-75" />
          </a>
          )}
        {linkedin && (
        <a href={linkedin} target="_blank" rel="noopener noreferrer" class="flex-shrink-0 pr-1">
          <Icon name="carbon:logo-linkedin" size={33} class="block p-0 text-gray-700 transition hover:opacity-75" />
        </a>
        )}
        {orcid && (
          <a href={orcid} target="_blank" rel="noopener noreferrer" class="flex-shrink-0 pr-1">
            <Icon name="academicons:orcid" size={26} class="block p-0 text-gray-700 transition hover:opacity-75" />
          </a>
          )}
        {ssrn && (
          <a href={ssrn} target="_blank" rel="noopener noreferrer" class="flex-shrink-0">
            <Icon name="academicons:ssrn" size={33} class="block p-0 text-gray-700 transition hover:opacity-75" />
          </a>
          )}
      </div>
    </div>

</div>