---
const { photo, name, location, phone, email, qualification } =  Astro.props;
import { Icon } from 'astro-icon/components'
import { Image } from "astro:assets";

---

<div class="shadow-md min-w-[340px] max-w-[360px]">
  <Image
    src={photo}  
    alt={name || 'No name provided'}
    class="min-w-[340px] border-slate-100 border-[2px]"
  />
  <div class="bg-slate-100 p-3 grid grid-cols-[auto,1fr] gap-4 items-center">
    {location && (
      <>
        <Icon name="carbon:location" class="size-6" />
        <p class="m-0 text-lg">{location}</p>
      </>
    )}
    {phone && (
      <>
        <Icon name="carbon:phone" class="size-6" />
        <p class="m-0 text-lg">{phone}</p>
      </>
    )}
    {email && (
      <>
        <Icon name="carbon:email" class="size-6" />
        <p class="m-0 text-lg">
          <a href={`mailto:${email}`} class="text-blue-500 hover:underline">
          {email}
          </a>
        </p>
      </>
    )}
    {qualification && (
      <>
        <Icon name="carbon:information" class="size-6" />
        <p class="m-0 text-lg">{qualification}</p>
      </>
    )}
  </div>
</div>
